<%# ここはチャット画面の左側のビュー %>

<div class="side-bar-header">
  <div class="header-name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  <%# ↪︎この記述のおかげで左上にログインしている人の名前と、そこを押せば編集のビューへ飛ぶ %>
  </div>

  <div class="create-room">
   <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<%# 下記の記述で左側に作成したルーム名が表示されている %>
<div class="rooms">
 <% current_user.rooms.each do |room| %>
  <div class="room">
    <div class="room-name">
     <%= link_to room.name, room_messages_path(room) %>
     <%# ↪︎この記述でサイドバーからチャット画面に遷移できるようになった %>
    </div>
  </div>
 <% end %>
</div>